body {
    text-align: center;
}

img{
    margin: 10px;
    border: 3px solid dodgerblue;
}

#images{
    display: inline;
}

canvas {
    margin: 10px auto 0;
    border: 3px solid dodgerblue;
}

/*img:hover {*/
/*    width: 1920px;*/
/*    height: 1080px;*/
/*}*/